<h1>Welcome to CSE Motors!</h1>
<section class="hero">
    <div class="hero-textbox">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice!</li>
        </ul>
        <a href="/inventory/delorean" class="button button-secondary">Own Today</a>
    </div>
    <div class="hero-image-container">
        <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
    </div>
</section>
<section class="vehicle-information">
    <div id="vehicle-upgrade-wrapper">
        <h3>Delorean Upgrades</h3>
        <div class="vehicle-upgrade">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor Icon">
            <a href="/upgrades/flux-capacitor">Flux Capacitor</a>
        </div>
        <div class="vehicle-upgrade">
            <img src="/images/upgrades/flame.jpg" alt="Flame Icon">
            <a href="/upgrades/flame-decals">Flame Decals</a>
        </div>
        <div class="vehicle-upgrade">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers Icon">
            <a href="/upgrades/bumper-stickers">Bumper Stickers</a>
        </div>
        <div class="vehicle-upgrade">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps Icon">
            <a href="/upgrades/hub-caps">Hub Caps</a>
        </div>
    </div>
    <div id="vehicle-review-wrapper">
        <h3>DMC Delorean Reviews</h3>
        <ul class="vehicle-reviews">
            <li>"So fast it's like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4.5/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"80s livin and I love it!" (4.5/5)</li>
            <li>"The most futuristic ride of our day." (5/5)</li>
        </ul>
    </div>
</section>