@media (max-width: 420px) {
  .siteName a {
    font-size: 1.5rem;
  }

  #top-header .siteName {
    margin: 0;
    padding: 0;
  }

  #top-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  main h1:first-child {
    text-align: center;
  }

  .hero-textbox {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 12px;
    top: 40%;
    left: 30%;
  }

  .hero-textbox h2 {
    font-size: 1.2rem;
  }

  .hero-textbox ul {
    margin: 1rem;
  }

  .hero-textbox ul li {
    font-size: 0.8rem;
    margin-left: 1rem;
  }

  .hero-textbox a {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 1rem;
  }

  #tools {
    padding: 1rem;
  }

  #tools a {
    font-size: 1.2rem;
  }

  .auth-text p {
    text-align: center;
    font-size: 0.8rem;
  }

  .auth-text p:last-child {
    font-size: 1.5rem;
    margin: 0.5rem 0 0 0;
    padding: 0.5rem 0 1rem 0;
  }

  .add-inventory-view {
    margin: 0 auto;
    max-width: 100%;
  }

  .add-inventory-view form {
    border: solid 2px var(--primary-color-dark);
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 8px;
  }

  .add-classification-view {
    margin: 0 auto;
    max-width: 100%;
  }

  .add-classification-view form {
    border: solid 2px var(--primary-color-dark);
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 8px;
  }

  #user-account-wrapper {
  align-items: center;
  margin: 0;
  padding: 0;
  }

  p.banner {
    border: none;
  }

  .account-management-container #account_select {
    width: 80%;
    margin: 0.5rem 0;
  }

  .account-management-container .account-selector-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .account-management-container div.account-info-section {
    margin: 1rem auto;
  }

  .account-management-container div.account-info-section h2 {
    font-size: 1.8rem;
  }

  .account-management-container div.account-info-section p {
    font-size: 1.2rem;
  }

  .account-management-container div.account-info-section p:last-child {
    margin-bottom: 0;
  }

  #user-account-wrapper p.banner {
    margin: 0 0 1rem 0;
    border-radius: 0;
    width: 100%;
  }

  #user-account-wrapper a.button {
    width: 80%;
    margin: 0.5rem 1rem;
  }

  .management-links {
    flex-direction: column;
  }

  .order-form-wrapper {
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;

  }

  .custom-order-form {
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem;
  }

  .order-card .order-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .order-card .order-header .status-badge {
    border-left: solid 4px var(--primary-color-dark);
  }

  /* Order details page */
  .status-section {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 10% 0 0;
  }
}