:root {
  --primary-color: #006eff;
  --primary-color-dark: #0a3ba5;
  --primary-color-light: #d7e3ff;
  --secondary-color: #333;
  --text-color: #333;
  --background-color: #fff4ec;
  --mobile-breakpoint: 768px;
}


/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/********** Header Styles **********/
#top-header {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--primary-color) solid 4px;
  background-color: var(--background-color);
}

#top-header .siteName {
  font-size: 3em;
  font-weight: bold;
  padding: 2rem 1rem;
  text-decoration: none;
}

#top-header .siteName a {
  color: var(--text-color);
  text-decoration: none;
}

#tools {
  align-self: center;
  padding: 0.5rem;
}

#tools a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.8em;
}

/********** Navigation Styles **********/
nav {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: relative;
}

/* Hamburger Button */
.hamburger {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem 0.8rem;
  gap: 8px;
}

.hamburger span {
  width: 40px;
  height: 5px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

/* Navigation Menu */
#nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #333;
  width: 100%;
  z-index: 1000;
}

#nav-menu.active {
  display: flex;
}

#nav-menu li {
  width: 100%;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
  font-size: 26px;
  border-bottom: 1px solid #575757;
  list-style: none;
}

#nav-menu li a {
  color: white;
  text-decoration: none;
  display: block;
}

#nav-menu li:hover {
  background-color: #575757;
}

/********** Main Styles **********/
main {
  flex: 1;
  padding: 0;
}

main h1 {
  text-align: left;
  padding: 1rem;
  margin: 0;
}

#homepage {
  padding: 0 1rem;
}

#homepage h1 {
  margin: 1rem 0;
  padding: 0;
}

/********** Body Styles **********/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../images/site/checkerboard.jpg') ;
}

body #Wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Hero Styles */
.hero {
  position: relative;
  display: inline-block;
  width: 100%;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero-textbox {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: var(--primary-color-dark);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem 1rem 2rem 1rem;  
  border-radius: 8px;
}

.hero-textbox h2 {
  margin: 0;
  font-size: 2rem;
}

.hero-textbox ul {
  padding: 0;
  list-style-type: none;
  text-align: left;
  margin: 0 0 2rem 0;
}

.hero-textbox ul li {
  margin: 0.5rem 0 0;
  font-size: 1.2rem;
}

.hero-textbox ul li::before {
  content: "✔ ";
  color: var(--primary-color-dark);
}

.hero-textbox a {
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  background-color: var(--primary-color-dark);
  text-decoration: none;
  border-radius: 8px;
}

/* Vehicle Inventory Pages */
#inv-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem 1rem;
  padding: 0;
}

#inv-display li {
  list-style-type: none;
  border: 2px solid var(--primary-color-dark);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inv-display img, #inv-display li a {
  width: 100%;
  height: auto;
  border-radius:6.5px 6.5px 0 0;
}

#inv-display li a {
  border-bottom: 1px solid var(--primary-color-dark);
  background-color: var(--primary-color-dark);
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5em;
}

#inv-display .name-price a {
  background-color: white;
  min-width: 100%;
}

#inv-display .name-price {
  font-size: 1em;
  width: 100%;
  padding: 0 0 1rem 1rem;
}

#inv-display .name-price h2 {
  width: 100%;
}

#inv-display .name-price span {
  font-weight: bold;
  font-size: 1.4em;
  color: var(--primary-color-dark);
  margin: 0 1rem 1rem 0;
}
  
/* vehicle-information */

.vehicle-information {
  margin: 3rem 0 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.vehicle-information h3 {
  margin: 0 0 1rem 0;
  font-size: 2.5em;
}

#vehicle-upgrade-wrapper {
  grid-row: 2 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 1rem;
  text-align: center;
}

#vehicle-upgrade-wrapper h3 {
  grid-column: 1 / -1;
  text-align: left;
}

.vehicle-upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100px;
}

.vehicle-upgrade img {
  background-color: var(--primary-color-dark);
  border-radius: 8px;
  padding: 0.5rem;
  max-width: 100px;
  height: auto;
}

#vehicle-review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vehicle-reviews {
  margin-top: 1rem;
  padding: 0;
}

.vehicle-reviews li {
  margin: 0 0 1rem 1.2rem;
  padding: 0 0 1rem 0;
  font-size: 1.5em;
}

/* Vehicle details page */
#detail-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

#detail-panel {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 1rem;
  background-color: var(--primary-color-light);
  border-bottom: solid 2px var(--secondary-color);
}

#detail-panel img {
  max-width: 100%;
  min-width: 10px;
  height: auto;
}

#detail-panel .thumbnails {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}

#detail-panel .thumbnails img {
  width: calc(33.333% - 0.5rem);  /* 3 per row with gap */
  height: auto;
  cursor: pointer;
  object-fit: contain;
}

#detail-info {
  margin: 0 2rem;
}

#detail-info .detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 4px var(--primary-color);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

#detail-info .detail-header h3 {
  margin: 0;
  font-size: 2em;
}

#detail-info ul {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
}

#detail-info ul li {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;
  background-color: var(--primary-color-light);
  border-radius: 0 8px 0 8px;
  border-left: solid 4px var(--primary-color-dark);
}

.color-swatch {
  margin-left: 0.5rem;
  border: 1px solid #000;
  margin-right: 8px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 4px;
}

/********** Form styles ***********/
form {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 1rem;
  padding: 0.7rem;
  font-size: 1.2em;
  color: white;
  background-color: var(--primary-color-dark);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--primary-color);
}

/********** Login / Register Styles **********/
.auth-container {
  max-width: 400px;
  width: 80%;
  margin: 2rem auto;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  background-color: var(--background-color);
}

.auth-container label {
  font-size: 1.2em;
  font-weight: bold;
}

.auth-container input {
  padding: 0.5rem;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-container p {
  margin: 0.5rem 2rem;
  font-size: 1.1em;
}

.auth-container form p {
  margin: 0.5rem 0;
}

.auth-text {
  margin: 0;
  padding-top: 0.3rem;
}

.auth-text p {
  margin: 0;
  padding: 0 1rem;
}

.auth-text p:last-child {
  border-bottom: solid 2px var(--primary-color);
  border-radius: 0 0 6px 6px;
  padding-bottom: 0.5rem;
}

/********** Footer Styles **********/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0 5%;
  border-top: var(--primary-color) solid 4px;
}

footer a {
  color: white;
  text-decoration: none;
}
